HF_HOME=./models_cache # сохранять кэш моделей внутрь репозитория

HF_TOKEN=hf_ # read токен HF

# Создайте токен Hugging Face:
# Зайдите на https://huggingface.co/settings/tokens
# Создайте новый токен (тип Read).

# Примите соглашения (это обязательно, иначе токен не сработает):

# Перейдите на страницу pyannote/segmentation-3.0 и нажмите кнопку "Agree" (или похожее) для принятия условий.
# https://huggingface.co/pyannote/segmentation-3.0

# Перейдите на страницу pyannote/speaker-diarization-3.1 (или 3.0, лучше принять для обоих) и также примите условия.
# https://huggingface.co/pyannote/speaker-diarization-3.1